<a href="https://colab.research.google.com/github/yashvyas1405/SQLZOO-Select-from-World-Tutorial/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQLZOO select from world tutorial

1. Observe the result of running this SQL command to show the name, continent and population of all countries.

In [ ]:
SELECT name, continent, population FROM world

2. Show the name for the countries that have a population of at least 200 million. 200 million is 200000000, there are eight zeros.

In [ ]:
SELECT name
  FROM world
 WHERE population > 200000000

3. Give the name and the per capita GDP for those countries with a population of at least 200 million.

In [ ]:
select name, gdp/population
from world
where population > 200000000

4. Show the name and population in millions for the countries of the continent 'South America'. Divide the population by 1000000 to get population in millions.

In [ ]:
select name, population/1000000
from world
where continent = 'South America'

5. Show the name and population for France, Germany, Italy

In [ ]:
select name, population
from world
where name in ('France', 'Germany', 'Italy')

6. Show the countries which have a name that includes the word 'United'

In [ ]:
select name
from world
where name like '%United%'

7. Two ways to be big: A country is big if it has an area of more than 3 million sq km or it has a population of more than 250 million.

In [ ]:
select name, population, area
from world
where area > 3000000 or population > 250000000

8. Exclusive OR (XOR). Show the countries that are big by area (more than 3 million) or big by population (more than 250 million) but not both. Show name, population and area.

In [ ]:
select name, population, area
from world
where area > 3000000 xor population > 250000000

9. For South America show population in millions and GDP in billions both to 2 decimal places.

In [ ]:
select name, ROUND(population/1000000, 2), ROUND(gdp/1000000000,2)
from world
where continent = 'South America'

10. Show per-capita GDP for the trillion dollar countries to the nearest $1000.

In [ ]:
SELECT name, round(gdp/population, -3)
from world
where gdp > 1000000000000

11. Show the name and capital where the name and the capital have the same number of characters.

In [ ]:
SELECT name,     
       capital
  FROM world
 WHERE length(name) = length(capital)

12. Show the name and the capital where the first letters of each match. Don't include countries where the name and the capital are the same word.

In [ ]:
SELECT name, capital
FROM world
where left(name, 1) = left(capital, 1) and name!=capital

13. Find the country that has all the vowels and no spaces in its name.

In [ ]:
SELECT name
FROM world
WHERE name LIKE '%a%' and name like '%e%' and name like '%i%' and name like '%o%' and name like '%u%' and name not like '% %'